body {
    max-width: 28rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    font-family: sans-serif;
}

button#browse-button {
    background: white;
    font-size: 1.3em;
    border: .3rem solid black;
    padding: 1em;
}


button#browse-button.dragover,
button#browse-button:active {
    background-color: #e8bad0;
}

footer {
    margin: 2rem;
    font-size: .9em;
}
